section{
    background-color: #CAE694;
    padding: 15px;
    color: #844399;
}
h1{
    background-color: #D193E6;
    padding: 15px;
    color: #CAE694; 
}

footer p{
    padding-top: 40px;
    text-align: center;
}